.signup {
    min-height: calc(100vh - 138px);
    display: flex;
    background: #0AC7B7;
    align-items: center;
    justify-content: center;
    &__content {
        display: flex;
        padding: 40px 30px;
        background: #f8f8f8;
        border-radius: 20px;
        border-bottom: 5px solid #ebebeb;
        @media screen and (max-width: 1024px) {
            padding: 25px 20px;
            flex-direction: column-reverse;
        }
        &__title {
            color: #4c3476;
            font-size: 1.5em;
            margin-bottom: 20px;
            &.first {
                margin-top: 36px;
                @media screen and (max-width: 1024px) {
                    margin-top: 0;
                }
            }
            &.center {
                text-align: center;
            }
        }
    }
    &__left {
        flex: 1;
        border-right: 2px solid #0AC7B7;
        padding: 0 20px;
        padding-right: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: 1024px) {
            border-right: none;
            border-top: 2px solid #0AC7B7;
            padding: 0;
            padding-top: 40px;
        }
    }
    &__right {
        flex: 2;
        padding: 0 20px;
        padding-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: 1024px) {
            padding: 0;
            padding-bottom: 40px;
        }
    }
    &__login {
        &__text {
            color: #4c3476;
        }
        &__cta {
            text-align: center;
            margin-top: 20px;
        }
    }
    &__form {
        &__label {
            padding-left: 15px;
            font-weight: 900;
            &--radio {
                float: left;
            }
        }
        &__input {
            height: 50px;
            border: none;
            border-bottom: 2px solid #ebebeb;
            border-radius: 20px;
            padding: 5px 15px;
            font-size: 1.1em;
        }
        &__checkbox {
            .form-check-label {
                font-weight: 900;
                margin-left: 10px;
            }
        }
        &__btn {
            border: none;
            color: #FFF;
            background-color: #4c3476!important;
            padding: 10px 20px!important;
            margin-top: 25px;
            border-radius: 20px;
            line-height: normal;
            &:disabled {
                background-color: #634991!important;
            }
        }
        &__error {
            color: #FF0000;
            font-size: 0.8em;
            padding: 0 15px;
        }
    }
}
