.divider {
    border-left: 5px solid #0AC7B7;
    height: 400px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

@media (max-width: 575.98px) {
    .divider {
        display: none;
    }
}