.pw-change {
    &__form {
        &__label {
            padding-left: 15px;
            font-weight: 900;
        }
        &__input {
            height: 50px;
            border: none;
            border-bottom: 2px solid #ebebeb;
            border-radius: 20px;
            padding: 5px 15px;
            font-size: 1.1em;
        }
        &__btn {
            border: none;
            color: #FFF;
            background-color: #4c3476!important;
            padding: 10px 20px!important;
            border-radius: 20px;
            line-height: normal;
            &:disabled {
                background-color: #634991!important;
            }
            &:hover {
                color: #FFF;
            }
        }
    }
}
